:root {
    --white: #ffffff;
    --black: #222222;
    --dark-gray: #282829;
}

@font-face {
    font-family: 'Prata';
    font-display: swap;
    src: url('./assets/fonts/Prata-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 0;
    transition: background 0.3s ease;
}

.header.scrolled {
    background: var(--black);
}

.header__wrapper {
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.header__logo {
    color: var(--white);
    font-family: 'Prata', serif;
    font-size: clamp(24px, 1.875vw, 36px);
    line-height: 150%;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 205px;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 29px;
}

.header__link {
    color: var(--white);
    font-size: clamp(11px, 0.833vw, 16px);
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}

.header__link:hover {
    text-decoration: underline;
}

.banner {
    position: relative;
}

.banner__title {
    padding-top: 244px;
    color: var(--white);
    font-family: 'Prata', serif;
    font-size: clamp(36px, 4.167vw, 80px);
    font-weight: 400;
    line-height: 120%;
    max-width: 550px;
}

.banner__subtitle {
    padding-top: 50px;
    color: var(--white);
    font-size: clamp(28px, 2.604vw, 50px);
    font-weight: 400;
    line-height: 120%;
    max-width: 500px;
}

.banner__list {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    list-style: none;
}

.banner__item {
    color: var(--white);
    font-size: clamp(14px, 1.25vw, 24px);
    font-weight: 400;
    line-height: 110%;
    position: relative;
    padding-left: 56px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.banner__item::before {
    content: url(./assets/icons/tick.svg);
    position: absolute;
    left: 0;
    top: 8px;
    width: 39px;
    height: 37px;
}

.banner__item span {
    font-family: 'Prata', serif;
    font-size: clamp(20px, 2.083vw, 40px);
    line-height: 150%;
    letter-spacing: 1.6px;
}

.banner__button {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    height: 96px;
    padding: 32px 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 4px;
    background: var(--white);
    color: var(--black);
    font-size: clamp(16px, 1.25vw, 24px);
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.banner__button:hover {
    background: var(--dark-gray);
    color: var(--white);
}

.bg-image {
    position: absolute;
    background: url(./assets/images/cakes.webp) right / cover no-repeat;
    width: 763px;
    height: 100%;
    top: 0;
    right: 0;
}

.main {
    padding-top: 100px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 53px;
    background: var(--dark-gray);
}

.main__image {
    max-height: 724px;
}

.main__image:first-child {
    width: clamp(280px, 32.396vw, 622px);
    background: url(./assets/images/cake1.webp) center / cover no-repeat;
}

.main__image:last-child {
    width: clamp(280px, 30.677vw, 589px);
    background: url(./assets/images/cake2.webp) center / cover no-repeat;
}

.main__text {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.main__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 53px;
}

.main__item {
    padding-bottom: 40px;
    border-bottom: 1px solid #55565A;
    color: var(--white);
    font-size: 24px;
    font-size: clamp(16px, 1.25vw, 24px);
    font-weight: 400;
    line-height: 140%;
    position: relative;
    padding-left: 78px;
}

.main__item::before {
    content: url(./assets/icons/icon.svg);
    position: absolute;
    left: 0;
    top: 8px;
    width: 58px;
    height: 47px;
}

.main__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.main__button {
    display: flex;
    padding: 32px 52px;
    justify-content: center;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color: var(--white);
    color: var(--dark-gray);
    font-size: 20px;
    font-size: clamp(15px, 1.042vw, 20px);
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main__button:hover {
    background-color: var(--black);
    color: var(--white);
}

.form {
    padding: 100px 0;
    background-color: var(--dark-gray);
}

.form__wrapper {
    border-radius: 30px;
    border: 2px solid #D5C9BE;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__form {
    margin: 72px 134px;
    display: flex;
    flex-direction: column;
    max-width: 781px;
    flex-grow: 1;
}

.form__title {
    margin-bottom: 45px;
    color: #38535D;
    font-family: 'Prata', serif;
    font-size: clamp(24px, 2.813vw, 54px);
    font-weight: 400;
    line-height: 110%;
    max-width: 410px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.form__input {
    display: flex;
    height: 65px;
    padding: 25px 40px;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #D6D6D6;
    background-color: var(--white);
    outline: none;
    color: #55565A;
    font-size: 24px;
    font-size: clamp(16px, 1.25vw, 24px);
    font-weight: 400;
    line-height: 150%;
}

.form__input:hover,
.form__input:focus {
    border: 2px solid #D5C9BE;
}

.form__input::placeholder {
    opacity: 0.7;
}

.form__checkbox-wrapper {
    margin: 26px 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.form__checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid #405D65;
    background-color: var(--white);
    cursor: pointer;
    position: relative;
}

.form__checkbox:hover,
.form__checkbox:checked {
    background-color: #405D65;
}

.form__checkbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--white);
    border-width: 0 0 2px 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.form__label {
    color: #55565A;
    font-size: clamp(16px, 1vw, 19px);
    font-weight: 400;
    line-height: 130%;
}

.form__button {
    display: flex;
    padding: 32px 20.815px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    background-color: var(--dark-gray);
    color: var(--white);
    font-size: clamp(16px, 1.25vw, 24px);
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form__button:hover {
    background-color: #38535D;
}

.form__image {
    border-radius: 0 24px 24px 0;
    flex-shrink: 0;
    width: 600px;
    background: url(./assets/images/cakes2.webp) no-repeat center / cover;
    height: auto;
    position: relative;
}
.form__image2 {
    height: 700px;
    width: 90%;
    background: url(./assets/images/woman.png) no-repeat center / cover;
    position: absolute;
    z-index: 2;
    bottom: -3px;
}

.footer {
    background: var(--black);
}
.footer__list {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px 0;
    list-style: none;
    border-top: 2px solid #D5C9BE;
    border-bottom: 2px solid #D5C9BE;
}

.footer__link {
    color: var(--white);
    font-size: clamp(15px, 1.042vw, 20px);
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__top {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    margin-right: 20px;
    color: var(--white);
    font-family: 'Prata', serif;
    font-size: clamp(24px, 1.875vw, 36px);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__socials {
    display: flex;
    gap: 32px;
}

.footer__social {
    width: 32px;
    height: 32px;
}

.footer__button {
    height: 78px;
    display: flex;
    padding: 32px 52px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color: var(--white);
    color: var(--black);
    font-size: clamp(15px, 1.042vw, 20px);
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer__button:hover {
    background-color: var(--dark-gray);
    color: var(--white);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 60px;
}

.footer__text {
    color: #D5C9BE;
    font-size: clamp(15px, 1.042vw, 20px);
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
    transition: all 0.3 ease;
}

.footer__text:hover {
    text-decoration: underline;
}

.footer__text:first-child {
    color: var(--white);
    text-decoration: none;
}




@media (max-width: 1440px) {
    .bg-image {
        width: 40%;
    }
    .form__form {
        margin: 50px;
    }
}

@media (max-width: 1199px) {
    .header__logo {
        margin-right: 50px;
    }
    .main {
        grid-template-columns: 1fr;
        gap: 53px;
        background: var(--dark-gray);
        padding: 0 20px;
    }
    
    .main__image {
        height: 400px;
        margin: 0 auto;
        order: 1;
    }

    .form__wrapper {
        flex-direction: column;
    }

    .form__form {
        margin: 40px;
    }

    .form__image {
        width: 100%;
        border-radius: 24px;
        height: 300px;
    }
    .form__image2 {
        display: none;
    }
}

@media (max-width: 991px) {
    .header__list {
        gap: 15px;
    }
    .banner__title {
        max-width: 400px;
    }
    .footer__top {
        flex-direction: column;
        gap: 30px;
    }
    
    .footer__bottom {
        justify-content: center;
        gap: 40px;
    }
}

@media (max-width: 767px) {   
    .header__wrapper {
        align-items: flex-start;
        flex-direction: column;
    }  
    .header__link:hover {
        text-decoration: none;
    }    
    .banner__title {
        max-width: 280px;
    }
    .banner__button:hover {
        background: var(--white);
        color: var(--black);
    }
    .main__image {
        height: 300px;
    }
    .main__button:hover {
        background-color: var(--white);
        color: var(--dark-gray);
    }

    .form__input:hover,
    .form__input:focus {
        border: 2px solid #D6D6D6;
    }
    
    .form__checkbox:hover {
        background-color: var(--white);
    }

    .form__button:hover {
        background-color: var(--dark-gray);
    }
    .footer__list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }  
    .footer__link:hover {
        text-decoration: none;
    }    
    .footer__button:hover {
        background: var(--white);
        color: var(--black);
    }
    .footer__bottom {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .footer__text:hover {
        text-decoration: none;
    }
}

@media (max-width: 575px) {
    .banner .wrapper {
        display: flex;
        flex-direction: column;
    }
    .bg-image {
        position: static;
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
        height: 300px;
        object-fit: cover;
    }
    .banner__item::before {
        top: 0;
    }
    .form__input {
        padding: 16px 20px;
    }
    .form__checkbox {
        width: 20px;
        height: 20px;
    }
    .form__button {
        padding: 12px;
    }
    .form__image {
        display: none;
    }
}

@media (max-width: 375px) {
    .header__list {
        gap: 10px;
    }
    .footer__socials {
        gap: 10px;
    }
}
